/*header {
    width: 100%;
    background: #005f9a;
    height: 90px;
    min-height: 50px;
}
.container > .navbar-header, .container > .navbar-collapse {
    margin-right: -15px;
    margin-left: -15px;
    background-color: #005f9a;
}
.navbar-inverse {
    background-color: #005f9a;
    border-color: #080808;
}*/
